<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Tic-Tac-Toe</h1>
<h2>Personal Record</h2>
<h4>2 Player</h4>
<p>X's:</p>
<p>Y's:</p>
<h4>1 Player</h4>
<p>Player Wins: </p>
<p>CPU Wins: </p>
<h2>World Wide Record</h2>
<h4>2 Player</h4>
<p>X's</p>
<p>Y's</p>
<h4>1 Player</h4>
<p>Player Wins: </p>
<p>CPU Wins: </p>
<h1>Simple Simon</h1>
<h4>Personal High Score: </h4>
<h2>World Leader Board</h2>
<h4>1)</h4>
<h4>2)</h4>
<h4>3)</h4>
<h4>4)</h4>
<h4>5)</h4>
<h1>Memory Cards</h1>
<h2>Personal Records</h2>
<h4>4 Card: </h4>
<h4>6 Card: </h4>
<h4>8 Card: </h4>
<h4>10 Card: </h4>
<h4>12 Card: </h4>
<h2>Best in World</h2>
<h4>4 Card: </h4>
<h4>6 Card: </h4>
<h4>8 Card: </h4>
<h4>10 Card: </h4>
<h4>12 Card: </h4>
</body>
</html>